# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#netbeans files
nbproject

#data files
src/DataReaders/2014.01.02/*
src/DataReaders/2014.01.02.tar.bz
